@import (less) url("_variables");

body {
  font-weight: 400;
  font-size: 20px;
  font-family: @arial;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  &__title {
    font-family: @georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    letter-spacing: 0.06em;

    color: @color-primary;
  }
  &__subtitle {
    font-family: @arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    letter-spacing: 0.1em;

    color: @color-light-xl;
  }
}

.nav {
  display: flex;
  align-items: center;
  &__list {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, auto);
    grid-gap: 36px;
  }

  &__list-item {
    color: @color-dark-s;
    border-bottom: 3px solid transparent;
    position: relative;
    &_active {
      color: @color-light-s;
      border-bottom: 3px solid @color-primary;
    }
    &:hover {
      color: @color-light-s;
    }
  }
}

.start-screen-bg {
  background-image: url("@styles/img/start-screen/start-screen-gradient-background.jpg");
  background-size: cover;
}

.start-screen-content {
  display: flex;
  &__desc {
    padding-top: 163px;
    display: flex;
    flex-direction: column;
    padding-right: 42px;
  }

  &__heading {
    margin-bottom: 42px;
    color: @color-light-xl;
  }

  &__subheading {
    margin-bottom: 42px;
    color: @color-dark-s;
  }

  &__btn {
  }

  &__img {
    width: 58.167%;
    flex: 1 0 auto;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.about {
  display: flex;
  padding: 80px 0 100px;
  &__img {
    width: 300px;
    padding-left: 175px;
    padding-right: 120px;
  }

  &__desc {
    width: 605px;
    padding-right: 175px;
  }

  &__heading {
    color: @color-dark-l;
    padding-top: 14px;
  }

  &__subheading {
    padding-top: 25px;
    color: @color-dark-xl;
  }
}

.our-friends-bg {
  background-color: @color-light-l;
}

.our-friends {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: auto;
  padding-top: 80px;
  padding-bottom: 100px;
  &__heading-box {
    text-align: center;
  }

  &__heading {
    color: @color-dark-l;
    height: 90px;
  }

  &__slider {
    padding-top: 60px;
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__slider-arrow {
    width: 52px;
    height: 52px;
    border-radius: 52px;
    border: 2px solid @color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.1s ease-in-out;

    &:hover {
      transition: all 0.1s ease-in-out;
      background-color: @color-primary-light;
      border-color: @color-primary-light;
    }

    &_inactive {
      cursor: default !important;
      color: @color-dark-s !important;
      border-color: @color-dark-s !important;
      background-color: transparent !important;
    }
  }

  &__slider-items-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 53px;
  }

  &__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background-color: @color-light-s;
    border-radius: 9px;
    cursor: pointer;

    &:hover .our-friends__slider-item-btn {
      transition: all 0.1s ease-in-out;
      border-color: @color-primary-light;
      background-color: @color-primary-light;
      color: @color-dark-2xl;
    }
  }

  &__slider-item-img {
    margin-bottom: 30px;
    img {
      border-radius: 9px;
    }
  }

  &__slider-item-name {
    margin-bottom: 30px;
    font-family: @georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: @color-dark-l;
    letter-spacing: 0.06em;
  }

  &__btn {
    margin-top: 60px;
  }
}
