@import url('../abstract/_variables.less');

.about {
  display: flex;
  padding: 80px 0 100px;
  &__img {
    width: 300px;
    padding-left: 175px;
    padding-right: 120px;
  }

  &__desc {
    width: 605px;
    padding-right: 175px;
  }

  &__heading {
    color: @color-dark-l;
    padding-top: 14px;
  }

  &__subheading {
    padding-top: 24.5px;
    color: @color-dark-xl;
  }
}