@import url('../abstract/_variables.less');

.footer{
  background: url("@styles/img/footer/footer-background.jpg"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;;
  background-size: cover;
  &__wrapper {
    display: flex;
  }
  &__content {
    padding-top: 56px;
    flex-grow: 1;
    display: grid;
    grid-column-gap: 160px;
    grid-row-gap: 29px;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, max-content);
  }

  &__heading {
    color: @color-light-xl;
    padding-bottom: 3.5px;
  }

  &__item {
    color: @color-primary;
    display: flex;
    align-items: center;
    .icon {
      font-size: 40px;
      margin-right: 18px;
    }
    .icon-pin {
      font-size: 32px;
    }
  }

  &__img {
    margin-top: 40px;
    display: block;
    width: 300px;
  }
}