@import url('../abstract/_variables.less');
@import url('../abstract/_mixins.less');

.help {
  padding-top: 80px;
  padding-bottom: 101.4px;
  box-sizing: border-box;

  .media-768({
    padding: 42px 0;
  });

  &__heading {
    text-align: center;
    margin-bottom: 60px;
    color: @color-dark-l;

    .media-768({
      margin-bottom: 42px;
    });
  }

  &__items-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 57px;
    column-gap: 119.5px;
    justify-content: center;

    .media-1280({
      padding: 0px 9px;
      margin: 0 auto;
      column-gap: unset;
      justify-content: space-between;
      max-width: 690px;
    });

    .media-768({
      row-gap: 31px;
      padding: 0;
      max-width: 430px;
    });
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .media-1280({
      width: 33.3333%;
    });

    .media-768({
      width: 46.6%;
    });
  }

  &__item-icon {
    font-size: 60px;
    margin-bottom: 23px;
    color: @color-primary;

    .media-768({
      font-size: 50px;
      margin-bottom: 14px;
    });
  }

  &__item-caption {
    color: @color-dark-l;

    .media-768({
      font-size: 15px;
    });
  }
}